In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [12]:
data = pd.read_csv("ml2.csv")
data.head()

FileNotFoundError: File b'ml2.csv' does not exist

In [10]:
material = data.groupby("fall").count()
material

NameError: name 'data' is not defined

In [117]:
unique_types = data.groupby("recclass").count()
unique_types

,name,id,nametype,mass (g),fall,year,reclat,reclong,GeoLocation
recclass,,,,,,,,,
Acapulcoite,54,54,54,54,54,53,38,38,38
Acapulcoite/Lodranite,6,6,6,6,6,6,5,5,5
Acapulcoite/lodranite,3,3,3,3,3,2,2,2,2
Achondrite-prim,9,9,9,9,9,9,3,3,3
Achondrite-ung,57,57,57,57,57,56,37,37,37
Angrite,21,21,21,21,21,21,10,10,10
Aubrite,63,63,63,63,63,63,53,53,53
Aubrite-an,6,6,6,6,6,6,5,5,5
Brachinite,33,33,33,33,33,33,23,23,23
C,8,8,8,8,8,8,8,8,8
C1-ung,1,1,1,0,1,1,0,0,0
C1/2-ung,1,1,1,1,1,1,1,1,1
C2,1,1,1,1,1,1,1,1,1
C2-ung,14,14,14,14,14,14,13,13,13
C3-ung,12,12,12,12,12,12,10,10,10
C3.0-ung,1,1,1,1,1,1,1,1,1
C3/4-ung,1,1,1,1,1,1,0,0,0
C4,2,2,2,2,2,2,2,2,2
C4-ung,3,3,3,3,3,3,3,3,3
C4/5,1,1,1,1,1,1,1,1,1
C5/6-ung,1,1,1,1,1,1,1,1,1
C6,2,2,2,2,2,2,2,2,2
CB,8,8,8,8,8,8,6,6,6
CBa,5,5,5,5,5,5,4,4,4
CBb,5,5,5,5,5,5,4,4,4
CH/CBb,1,1,1,1,1,1,1,1,1
CH3,21,21,21,21,21,21,19,19,19
CH3,1,1,1,1,1,1,0,0,0
CI1,9,9,9,9,9,9,7,7,7
CK,3,3,3,3,3,3,1,1,1
...,...,...,...,...,...,...,...,...,...
Pallasite?,1,1,1,1,1,1,1,1,1
R,3,3,3,3,3,3,1,1,1
R3,15,15,15,15,15,15,9,9,9
R3-4,1,1,1,1,1,1,1,1,1
R3-5,6,6,6,6,6,6,2,2,2
R3-6,10,10,10,10,10,10,4,4,4
R3.4,1,1,1,1,1,1,0,0,0
R3.5-4,1,1,1,1,1,1,1,1,1
R3.5-6,1,1,1,1,1,1,1,1,1
R3.6,3,3,3,3,3,3,2,2,2
R3.7,2,2,2,2,2,2,0,0,0
R3.8,9,9,9,9,9,9,4,4,4
R3.8-5,1,1,1,1,1,1,1,1,1
R3.8-6,4,4,4,4,4,4,3,3,3
R3.9,4,4,4,4,4,4,1,1,1
R3/4,2,2,2,2,2,2,0,0,0
R4,42,42,42,42,42,41,17,17,17
R4/5,1,1,1,1,1,1,0,0,0
R5,20,20,20,20,20,20,14,14,14
R6,9,9,9,9,9,9,3,3,3
Relict H,1,1,1,0,1,1,1,1,1
Relict OC,65,65,65,17,65,64,65,65,65
Relict iron,1,1,1,1,1,1,1,1,1
Stone-uncl,50,50,50,30,50,50,48,48,48
Stone-ung,1,1,1,1,1,1,1,1,1
Unknown,7,7,7,0,7,6,5,5,5
Ureilite,300,300,300,300,300,300,214,214,214
Ureilite-an,4,4,4,4,4,4,3,3,3
Ureilite-pmict,23,23,23,23,23,23,18,18,18
Winonaite,25,25,25,25,25,25,18,18,18

In [118]:
len(unique_types)

466

In [97]:
len(data)

45716

In [98]:
data_clean = data.dropna()
len(data_clean)

38116

In [96]:
check = data_clean[data_clean["reclong"] == 0]
len(check)
#Just to see if there are any values like these, filtered them using d3

6186

In [103]:
data_clean = data_clean.rename(columns = {"mass (g)":"massg"})

In [105]:
data_clean['mass'] = data_clean['massg']/1000
data_clean.head()

,name,id,nametype,recclass,massg,fall,year,reclat,reclong,GeoLocation,mass
0,Aachen,1,Valid,L5,21.0,Fell,01/01/1880 12:00:00 AM,50.77500,6.08333,"(50.775000, 6.083330)",0.021
1,Aarhus,2,Valid,H6,720.0,Fell,01/01/1951 12:00:00 AM,56.18333,10.23333,"(56.183330, 10.233330)",0.720
2,Abee,6,Valid,EH4,107000.0,Fell,01/01/1952 12:00:00 AM,54.21667,-113.00000,"(54.216670, -113.000000)",107.000
3,Acapulco,10,Valid,Acapulcoite,1914.0,Fell,01/01/1976 12:00:00 AM,16.88333,-99.90000,"(16.883330, -99.900000)",1.914
4,Achiras,370,Valid,L6,780.0,Fell,01/01/1902 12:00:00 AM,-33.16667,-64.95000,"(-33.166670, -64.950000)",0.780

In [107]:
data_clean['masslog'] = data_clean['mass'] + 1
#values under 1 inputed into log() create negative values
#since the mass (in kg) will be used to determine the circle's radius which must be positive 
#And the map will display relative size, not accurate size
#I am assigning all values under 1 to 1 
data_clean.head()

,name,id,nametype,recclass,massg,fall,year,reclat,reclong,GeoLocation,mass,masslog
0,Aachen,1,Valid,L5,21.0,Fell,01/01/1880 12:00:00 AM,50.77500,6.08333,"(50.775000, 6.083330)",0.021,1.021
1,Aarhus,2,Valid,H6,720.0,Fell,01/01/1951 12:00:00 AM,56.18333,10.23333,"(56.183330, 10.233330)",0.720,1.720
2,Abee,6,Valid,EH4,107000.0,Fell,01/01/1952 12:00:00 AM,54.21667,-113.00000,"(54.216670, -113.000000)",107.000,108.000
3,Acapulco,10,Valid,Acapulcoite,1914.0,Fell,01/01/1976 12:00:00 AM,16.88333,-99.90000,"(16.883330, -99.900000)",1.914,2.914
4,Achiras,370,Valid,L6,780.0,Fell,01/01/1902 12:00:00 AM,-33.16667,-64.95000,"(-33.166670, -64.950000)",0.780,1.780

In [119]:
data_clean['mass'] = data_clean['mass'].astype(float)
data_clean['massg'] = data_clean['massg'].astype(float)
data_clean['masslog'] = data_clean['masslog'].astype(float)
print(len(data_clean))
data_clean.head()

#getting rid of scientific notation and other anomalies

38116

,name,id,nametype,recclass,massg,fall,year,reclat,reclong,GeoLocation,mass,masslog
0,Aachen,1,Valid,L5,21.0,Fell,01/01/1880 12:00:00 AM,50.77500,6.08333,"(50.775000, 6.083330)",0.021,1.021
1,Aarhus,2,Valid,H6,720.0,Fell,01/01/1951 12:00:00 AM,56.18333,10.23333,"(56.183330, 10.233330)",0.720,1.720
2,Abee,6,Valid,EH4,107000.0,Fell,01/01/1952 12:00:00 AM,54.21667,-113.00000,"(54.216670, -113.000000)",107.000,108.000
3,Acapulco,10,Valid,Acapulcoite,1914.0,Fell,01/01/1976 12:00:00 AM,16.88333,-99.90000,"(16.883330, -99.900000)",1.914,2.914
4,Achiras,370,Valid,L6,780.0,Fell,01/01/1902 12:00:00 AM,-33.16667,-64.95000,"(-33.166670, -64.950000)",0.780,1.780

In [6]:
years = []

for date in data_clean['year']:
        split = date.split()
        print(split[0])

NameError: name 'data_clean' is not defined

In [120]:
data_clean.to_csv("cleaned-meteorite-landings.csv")